h1 {
  color: blue;
}
title {
  color: blue;
}
body {
  color: blue;
}
h1 {
  font-family:"Rubik Glitch",serif;
  font-weight: 300;
  font-style: normal;
  color: blue;
}
body {
  font-family:"Rubik Glitch",serif;
  font-weight: 300;
  font-style: normal;
  color: blue;
}
title {
  font-family:"Rubik Glitch",serif;
  font-weight: 300;
  font-style: normal;
  color: blue;
}
body {
  background-color: pink;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20 px;
}
