
h1 {
  font-family:"times new roman",serif;
  font-weight: 300;
  font-style: normal;
  color: black;
}
body {
  font-family:"times new roman",serif;
  font-weight: 300;
  font-style: normal;
  color: black;
}
title {
  font-family:"times new roman",serif;
  font-weight: 300;
  font-style: normal;
  color: black;
}
body {
  background-color: pink;
}

h1 {
  color: black;
  text-align: center;
}

p {
  font-family:"times new roman";
  font-size: 20 px;
}
