h1 {
  color: blue;
}
title {
  color: blue;
}
body {
  color: blue;
}
h1 {
  font-family:"Rubik Glitch",serif;
  font-weight: 300;
  font-style: normal;
  color: blue;
}
body {
  font-family:"Rubik Glitch",serif;
  font-weight: 300;
  font-style: normal;
  color: blue;
}
title {
  font-family:"Rubik Glitch",serif;
  font-weight: 300;
  font-style: normal;
  color: blue;
}
